
.logo{
  height: 60px;
}

/*==ナビゲーション全体の設定*/

nav{
  background:#333;
  color:#fff;
  text-align: center;
}
/*ナビゲーションを横並びに*/
nav ul{
  list-style: none;
  display: flex;
  justify-content:space-evenly;
}
/*2階層目以降は横並びにしない*/
nav ul ul{
  display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
  position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
  display: block;
  text-decoration: none;
  color: #999;
  padding:20px 35px;
  transition:all .3s;
}

nav ul li li a{
  padding:10px 35px;
}

nav ul li a:hover{
  color:#fff; 
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before{
  content:'';
  position: absolute;
  left:15px;
  top:25px;
  width:6px;
  height:6px;
  border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
nav ul ul li.has-child::before{
  content:'';
  position: absolute;
  left:6px;
  top:17px;
  width:6px;
  height:6px;
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul{
    /*絶対配置で位置を指定*/
  position: absolute;
  left:0;
  top:62px;
  z-index: 4;
    /*形状を指定*/
  background:#28BFE7;
  width:180px;
    /*はじめは非表示*/
  visibility: hidden;
  opacity: 0;
    /*アニメーション設定*/
  transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
  color: #fff;
  border-bottom:solid 1px rgba(255,255,255,0.6);
}

nav li.has-child ul li:last-child a{
  border-bottom:none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
  background:#3577CA;
}


/*==3階層目*/

/*3階層目の位置*/
nav li.has-child ul ul{
  top:0;
  left:182px;
  background:#66ADF5;
}

nav li.has-child ul ul li a:hover,
nav li.has-child ul ul li a:active{
  background:#448ED3;
}


/*==768px以下の形状*/

@media screen and (max-width:768px){
  nav{
    padding: 0;
  }
  
  nav ul{
    display: block;
  }
  
  nav li.has-child ul,
  nav li.has-child ul ul{
    position: relative;
  left:0;
  top:0;
  width:100%;
  visibility:visible;/*JSで制御するため一旦表示*/
  opacity:1;/*JSで制御するため一旦表示*/
  display: none;/*JSのslidetoggleで表示させるため非表示に*/
  transition:none;/*JSで制御するためCSSのアニメーションを切る*/
}
  
nav ul li a{
  border-bottom:1px solid #ccc;
}

/*矢印の位置と向き*/

nav ul li.has-child::before{
  left:20px;  
}

nav ul ul li.has-child::before{
    transform: rotate(135deg);
  left:20px;
}
    
nav ul li.has-child.active::before{
    transform: rotate(-45deg);
}

}


/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;  
}

small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}


section{
  padding:30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}

/*========= 紙芝居風レイアウトのためのCSS ===============*/

section.fixed{
  position: -webkit-sticky;/*Safari*/
  position: sticky;
top:70px;/*Header高さ分で止まるようにする*/
/*装飾のためのCSS*/
background:#fff;
padding:100px 30px 170px 30px;
min-height: 100vh;
}

section.fixed:nth-of-type(2n){
/*装飾のためのCSS*/
color:#fff;
text-align: center;
padding:300px 30px;
min-height: auto;
}

section.fixed:last-of-type{
padding:170px 30px 100px 30px;/*最後のセクションだけ止まらないため、エリア内の情報が少ない時は、HEADER分の高さをpadding-topに追加して上部が見えるようにする*/
}

section.fixed:nth-of-type(2){
background:url("http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-5/img/rena-604317-unsplash.jpg") no-repeat center;
background-size:cover;
}

section.fixed:nth-of-type(4){
background:url("http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-5/img/tj-holowaychuk-261414-unsplash.jpg") no-repeat center;
background-size:cover;
}


/*＝＝＝＝＝＝＝＝＝＝＝タブレット以下の見え方＝＝＝＝＝＝＝＝＝＝＝＝＝*/

@media screen and (max-width:768px){
section.fixed,
section.fixed:last-of-type{
  position:relative!important;/*sticky解除*/
top:0;/*70px⇒0pxに戻す*/
min-height: auto;
padding:30px;
}

section.fixed:first-of-type{
padding:100px 30px 30px 30px;/*最初の要素は上部にHeaderの高さ以上の余白をとる*/
}

section.fixed:nth-of-type(2n){
padding:100px 30px;
}
}


/*========= レイアウトのためのCSS ===============*/

h1{
font-size:1.2rem;
}

#container h2{
font-size:1.2rem;
}

#container p{
margin-top:20px;  
}

small{
background:#333;
color:#fff;
display: block;
text-align: center;
padding:20px;
}

#header{
position: fixed;/*Header固定*/
top:0;
height: 70px;/*高さ指定*/
z-index: 2;
width:100%;
/*装飾のためのCSS*/
background:#333;
color:#fff;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

#container{
position: relative;
z-index: 1;/*header とfooterを手前にするため数字を小さく*/
}

#footer{
position: relative;
z-index: 2;
}
/*  */
/*  */

.page1{
  background-image: url(/html_aoki_01/img/cia_1.jpg);
  background-size: cover;
}
.hako{
  width: 1200px;
  margin: 0 auto;
}




